.panel {
    background-color: white;
}

.btn-circle {
  
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 1.42857;
    position: fixed;
}

.iconos {
    color: #0D477F;
}

audio {
    width: 100%;
}

.modal {
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0);
}

.margin-left-20 {
    margin-left: 0px;
    margin-right: 0px;
}
.thead {
    background-color: #0D477F;
}
